<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/<%= cssFilename %>">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Libre+Baskerville&family=Lilita+One&family=Raleway:wght@200;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c93b1ab353.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="nav-bar-container">
        <nav class="nav-bar">
            <a class="nav-logo" href="/"><img class="nav-logo-img" src="assets/images/logo.jpg" alt="logo"></a>
            <div class="nav-links d-none">
                <a class="nav-link" href="/">HOME</a>
                <a class="nav-link" href="/menu">MENU</a>
                <a class="nav-link" href="/hours">HOURS</a>
                <a class="nav-link" href="/about">ABOUT</a>
                <a class="nav-link" href="/waittime">WAIT TIME</a>
            </div>
            <i class="fa-regular fa-bars fa-xl" style="color: #ffffff; cursor: pointer;"></i>
        </nav>
    </header>