body {
    display: grid;
    grid-template-rows: 80px 250px 120px 500px 500px; /* (Navbar bg-1 divider title showcase ice-cream) */

    margin: 0;
}

/*********** NAV BAR ***********/

.navbar {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0 15%;
    
    position: sticky;
    top: 0;
    z-index: 5;

    grid-row: 1;
    grid-column: 1 / -1;
    display: flex;

    transition: all 0.4s;
}

.navbar-scrolled {
    background-color: rgba(0, 0, 0, 1);
    height: 80%;
}

.nav-brand {
    justify-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-brand-img {
    height: 80%;
    border-radius: 50%;
}

.nav-ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.nav-li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 80px;

    text-decoration: none;
    color: lightgray;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 1rem;
}

a.nav-li.active-page {
    color: white;
    font-weight: 600;
    border-bottom: 0.1px solid white;
}

a.nav-li:hover {
    color: white;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.2);
}

/*********** BG-1 ***********/

.bg-1 {
    background-image: url(assets/images/interior.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    grid-row: 1 / span 2;
    grid-column: 1 / -1;
}

.bg-1-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*********** TITLE SECTION ***********/

.title-section {
    margin: 60px 100px 0 100px;

    grid-row: 2 / span 2;
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(3, 100px);

    color: white;
    font-family: 'Raleway';
}

.title-img {
    grid-row: 1 / span 3;
    display: flex;
    justify-content: flex-end;
}

.title-img > img {
    height: 100%;
    border-radius: 20px;
    transition-duration: 200ms;
}

.title-img > img:hover {
    height: 105%;
    transform: rotate(-5deg);
    border-radius: 20px;
}

.title-text {
    grid-area: 1 / 2 / 2 / 3;
    margin: 0;
    text-align: center;
}

.title-text > h1 {
    text-transform: uppercase;
    text-shadow: rgb(217, 174, 0) 1px 0 10px;
    letter-spacing: 4px;
    word-spacing: 8px;
    font-size: 3.5rem;
    font-family: 'Lilita One';
    margin: 0;
}

.title-text > p {
    margin: 5px;
    font-size: 1.1rem;
}

.title-button {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title-button > a {
    width: 200px;
    height: 50px;
    color: white;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-family: 'Raleway';
    margin-bottom: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.wait-button:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(0, 0, 0, 0.3) 10px 10px, rgba(0, 0, 0, 0.2) 15px 15px, rgba(0, 0, 0, 0.1) 20px 20px, rgba(0, 0, 0, 0.05) 25px 25px;
    font-size: 1rem;
}

.menu-button:hover {
    box-shadow: rgba(21, 140, 200, 0.4) 5px 5px, rgba(21, 140, 200, 0.3) 10px 10px, rgba(21, 140, 200, 0.2) 15px 15px, rgba(21, 140, 200, 0.1) 20px 20px, rgba(21, 140, 200, 0.05) 25px 25px;
    font-size: 1rem;
}

.title-button > .menu-button {
    background-color: rgb(21, 140, 200);
}

.title-button > .wait-button {
    background-color: rgba(0, 0, 0, 0.7);
}

.title-footer {
    grid-area: 3 / 2 / 4 / 3;
    text-transform: uppercase;

    display: flex;
    justify-content: space-evenly;
}

.title-footer-number {
    display: block;
    font-family: 'Lilita One';
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

.divider {
    grid-row: 3;
    grid-column: 1 / -1;
    background-color: black;
    z-index: -2;
}

/*********** SHOWCASE SECTION ***********/

.showcase-section {
    display: grid;
    align-items: center;
    grid-row: 4;
    grid-column: 1 / -1;

    background-color: black;
    color: white;
}

.showcase-text {
    width: 30%;
    font-family: 'Raleway';
    margin-left: 10%;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    grid-row: 1 / 1;
    grid-column: 1 / -1;

    z-index: 3;
}

.showcase-text > h2 {
    text-transform: uppercase;
    font-family: 'Lilita One';
    font-size: 2rem;
}

.showcase-text > p {
    line-height: 25px;
}

.hs {
    grid-row: 1 / 1;
    grid-column: 1 / -1;

    z-index: 2;
}

/*********** HC ***********/

  
  .hs {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: 10px;
    grid-template-rows: 350px;
    grid-auto-flow: column;
    grid-auto-columns: calc(50% - var(--gutter) * 2);
  
    overflow-x: scroll;
    scroll-snap-type: x proximity;
  }
  
  /* MORE HC */
  /* .app {
    width: 100%;
    height: 600px;
    background: black;
    overflow-y: scroll;
  } */
  
  .hs > li,
  .hs-item {
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;

    width: 350px;
  }
  
  .hs-item-img {
    height: 90%;
    opacity: 0.2;
    border-radius: 10px;
    transition: all 0.3s;
  }

    .hs-item-img-focus {
    height: 100%;
    opacity: 1;
  }

/*********** BG-2 ***********/
.bg-2 {
    background-image: url(assets/images/291471599_562841592009948_5214425878930913768_n.jpg);
    background-size: contain;
    background-attachment: fixed;

    grid-row: 5;
    grid-column: 1 / -1;
}

.bg-2-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

/*********** ICE CREAM ***********/
.icecream-section {
    grid-row: 5;
    grid-column: 1 / -1;
    display: grid;
    justify-content: center;

    color: white;
    text-transform: uppercase;
    font-family: 'Lilita One';
    font-size: 2rem;
    word-spacing: 8px;
}
