<%- include("partials/header", {pageTitle: "Ice Cream Menu", cssFilename: "menu.css"}) %>
<div class="main-container">
    <h1>Our Menu</h1>

    <div class="menu-switch">
        <a class="bottom" href="/menu/cottoncandy"><span style="padding-right: 50px;">Cotton Candy</span><span>Ice Cream</span></a>
        <a class="top" href="#" style="left: 50%">Ice Cream</a>
    </div>

    <div class="sub-menu-buttons">
        <a class="characters-button" id="sub-menu-button-selected" href="#">Milkshake</a>
        <a class="tubs-button" href="#">Softserver</a>
        <a class="flavors-button" href="#">Polar Bar</a>
        <a class="flavors-button" href="#">Float</a>
        <a class="flavors-button" href="#">Freeze</a>
    </div>
<%- include("partials/footer", {jsFilename: "menu.js"}) %>