<%- include("partials/header", {pageTitle: "Polar Playground", cssFilename: "home.css"}) %>
<div class="main-container">

    <div class="bg-1"></div>

    <div class="title-container">
        <div class="title-img"><img src="assets/images/duck-removebg.png" alt=""></div>
        <div class="title-text">
            <h1><span id="polar">POLAR</span><span id="playground">PLAYGROUND</span></h1>
            <p>Spinning dreams and scooping happiness since 2018</p>
        </div>
        <div class="title-button">
            <a href="/menu" class="menu-button">
                <i class="fa-solid fa-horse" style="color: #ffffff;"></i>CHARACTER MENU
            </a>
            <a href="/waittime" class="wait-button">
                <i class="fa-solid fa-circle fa-fade fa-2xs" style="color: #b20000;"></i>LIVE WAIT TIME
            </a>
        </div>
        <div class="title-footer">
            <p><span class="title-footer-number">60+</span><span>CHARACTERS</span></p>
            <p><span class="title-footer-number">15+</span><span>FLAVORS</span></p>
            <p><span class="title-footer-number">1</span><span>ORIGINAL STORE</span></p>
        </div>
    </div>

    <div class="divider"></div>

    <div class="showcase-container">

      <div id="showcase-carousel-container" class="showcase-carousel carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#showcase-carousel-container" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#showcase-carousel-container" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#showcase-carousel-container" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#showcase-carousel-container" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#showcase-carousel-container" data-bs-slide-to="4" aria-label="Slide 5"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/images/characters/Duck.jpg" class="d-block" alt="Duck-img">
              <div class="carousel-caption d-md-block">
                <h4>Duck</h4>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/characters/Luna.jpg" class="d-block" alt="Luna-img">
              <div class="carousel-caption d-md-block">
                <h4>Luna</h4>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/characters/Eeyore.jpg" class="d-block" alt="Eeyore-img">
              <div class="carousel-caption d-md-block">
                <h4>Eeyore</h4>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/characters/Cookie_Monster.jpg" class="d-block" alt="Cookie-Monster-img">
              <div class="carousel-caption d-md-block">
                <h4>Cookie Monster</h4>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/characters/Rick.jpg" class="d-block" alt="Rick-img">
              <div class="carousel-caption d-md-block">
                <h4>Rick</h4>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#showcase-carousel-container" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#showcase-carousel-container" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>

      <div class="showcase-text">
        <!-- <img src="assets/images/hand-drawn-christmas-lights-collection/6169087.png" alt=""> -->
        <h2>Welcome to Polar Playground - where the cotton candy gets character</h2>
        <p>Our cotton candy characters are best to be enjoyed fresh as cotton candy naturally melts. Each character is handcrafted and made to order so it takes time - it is an art.</p>
        <p>Thank you for your continuous support, patience, and understanding. For more information, check out our FAQ page.</p>
        <a href="/about" class="faq-button">FAQ</a>
      </div>

    </div>

    <div class="icecream-container">
        <div class="icecream-text">
            <h2>FEELING LIKE ICE CREAM?</h2>
            <p>Cone-quer your cravings here!</p>
        </div>

        <div class="icecream-card-container">
            <a href="/menu/icecream" class="icecream-card">
                <h3>MILKSHAKE</h3>
                <p>Fresh scooped ice cream mixed with milk and toppings</p>
                <img src="assets/images/milkshake-removebg.png" alt="">
            </a>
            <a href="/menu/icecream/softserve" class="icecream-card">
                <h3>SOFTSERVE</h3>
                <p>Fresh scooped ice cream mixed with your favorite toppings</p>
                <img src="assets/images/softserve-removebg.png" alt="">
            </a>
            <a href="/menu/icecream/polarbar" class="icecream-card">
                <h3>POLAR BAR</h3>
                <p>Ice cream bars hand dipped in chocolate sauce with toppings</p>
                <img src="assets/images/pbbj-removebg.png" alt="">
            </a>
            <a href="" class="icecream-card fullmenu-card">
                <h3>FULL ICE CREAM MENU</h3>
                <img class="right-arrow" src="assets/images/right-arrow.png" alt="">
                <p>The possibilities are endless</p>
                <img class="stock-scoops" src="assets/images/scoops-removebg.png" alt="">
            </a>
        </div>
    </div>

</div>
<%- include("partials/footer", {jsFilename: "home.js"}) %>