<%- include("partials/header", {pageTitle: "Menu", cssFilename: "menu.css"}) %>
<div class="main-container">
    <h1>Our Menu</h1>

    <div class="menu-buttons">
        <a class="cottoncandy-button menu-button-selected" href="/menu">Cotton Candy</a>
        <a class="icecream-button" href="/menu/icecream">Ice Cream</a>
    </div>

    <div class="sub-menu-buttons">
        <a class="characters-button menu-button-selected" href="/menu">Characters</a>
        <a class="tubs-button" href="#">Tubs</a>
        <a class="flavors-button" href="#">Flavors</a>
    </div>

    <div class="characters-container">
        <% for (var i = 0; i < all_characters.length; i++) { %><% var src = "/assets/images/characters/" + all_characters[i]; %>
            <a class="card character-card" style="cursor: pointer;">
                <img src=<%= src %> alt="character-img" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><%= all_characters[i].substring(0, all_characters[i].lastIndexOf('.')) || all_characters[i] %></h5>
                </div>
            </a><% } %>
    </div>
  
    <!-- Modal -->
    <div class="modal fade" id="characterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="modal-img img-fluid" src="" alt="">
                <p class="modal-description">This one looks a little bit upset, doesn't it? No worries, it still tastes amazing!</p>
            </div>
            <div class="modal-footer">
                <p>Flavors: White Vanilla, Pink Passionfruit</p>
            </div>
        </div>
        </div>
    </div>
</div>
<%- include("partials/footer", {jsFilename: "menu.js"}) %>