a[href="/about"] {
    font-weight: bold;
}

.main-container {
    margin-top: var(--nav-bar-height);
}

.faq-header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/cater.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
}

.faq-container {
    margin: 10px;
}


