.main-container {
    background-color: rgb(228, 228, 228);
    padding-top: var(--nav-bar-height);
}

a[href="/menu"] {
    font-weight: bold;
}

h1 {
    padding-top: 20px;
    color: black;
    font-size: 3rem;
    text-align: center;
}

.menu-buttons {
    display: flex;
    justify-content: center;
}

.menu-buttons > a {
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(117, 117, 117);
    background-color: rgb(238, 238, 238);
    font-size: 1.2rem;
    font-weight: 300;

    border: 1px solid rgb(181, 181, 181);
    border-radius: 30px;
}

#menu-button-selected {
    color: white;
    background: radial-gradient(at left top, rgba(1, 143, 146, 1.0), rgba(5, 68, 124, 1.0));
    /* background-image: linear-gradient(144deg,#2600ff, #2679ff 50%,#00b4eb); */

    border: none;
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset;

    z-index: 10;
}

.cottoncandy-button {
    width: 200px;
    position: relative;
    left: 20px;
}

.icecream-button {
    width: 200px;
    position: relative;
    right: 20px;
}

.sub-menu-buttons {
    display: flex;
    justify-content: flex-start;
    overflow: scroll;
}

.sub-menu-buttons::-webkit-scrollbar {
    display: none;
}

#sub-menu-button-selected {
    color: rgb(67, 67, 67);
    /* -webkit-box-shadow:0px 0px 8px 0px rgb(0, 154, 162);
    -moz-box-shadow: 0px 0px 8px 0px rgb(0, 154, 162); */
    box-shadow: 0px 0px 8px 0px rgb(0, 154, 162);
    /* box-shadow: 0px 0px 8px 0px #2679ff; */
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 154, 162);
    /* border: 1px solid #2679ff; */
    font-weight: 400;
}

.sub-menu-buttons > a {
    height: 40px;
    padding: 20px;
    margin: 15px 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(117, 117, 117);
    background-color: rgb(238, 238, 238);
    font-size: 1.2rem;
    font-weight: 300;
    white-space: nowrap;

    border: 1px solid rgb(181, 181, 181);
    border-radius: 30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 45%;
    margin: 2%;

    border: none;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.card-body {
    padding: 0;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 6px;
}

.modal-title {
    font-size: 1.4rem;
}

.modal-img {
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;}

.modal-description {
    font-size: 1.1rem;
    font-weight: 300;
    padding-top: 20px;
}

.modal-footer {
    font-size: 1.1rem;
    justify-content: flex-start;
}
