:root {
    --red: rgb(197, 0, 0);
    --yellow: rgb(253, 206, 51);
    --green: rgb(0, 162, 27);
    --blue: rgb(0, 35, 210);
    --purple: rgb(122, 0, 163);
    --white: rgb(255, 255, 255);
    --pink: rgb(240, 174, 174);
    --dark_pink: rgb(231, 106, 106);
    --light_blue: rgb(139, 224, 228);
    --peach: rgb(196, 203, 178);
    --brown: rgb(119, 100, 100);
    --grey: rgb(97, 97, 97);
    --orange: rgb(236, 121, 64);

    --card-border-radius: 5px;
}

.main-container {
    background-color: rgb(225, 225, 225);
    margin-top: var(--nav-bar-height);
}

a[href="/menu"] {
    font-weight: bold;
}

h1 {
    padding-top: 20px;
    color: black;
    font-size: 2.7rem;
    text-align: center;
}

.menu-switch {
    display: flex;
    justify-content: center;
    height: 50px;
    font-size: 1.2rem;
}

.menu-switch > .bottom {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: rgb(117, 117, 117);
    background-color: rgb(240, 240, 240);
    font-weight: 300;

    border: 1px solid rgba(181, 181, 181, 0.4);
    border-radius: 15px;
}

.menu-switch > .top {
    width: 175px;
    height: 50px;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    background: radial-gradient(at left top, rgba(1, 143, 146, 1.0), rgba(5, 68, 124, 1.0));
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    color: white;
    font-weight: 400;
    border-radius: 15px;
    z-index: 2;
}

.sub-menu-buttons {
    position: sticky;
    top: calc(var(--nav-bar-height) * 0.7);

    display: flex;
    justify-content: center;
    overflow: scroll;

    background-color: rgb(225, 225, 225);
    box-shadow: rgba(99, 99, 99, 0.1) 0px 10px 8px 0px;
    z-index: 1;
}

.sub-menu-buttons::-webkit-scrollbar {
    display: none;
}

.sub-menu-buttons > a {
    height: 40px;
    padding: 20px;
    margin: 12px 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(117, 117, 117);
    background-color: rgb(240, 240, 240);
    font-size: 1.2rem;
    font-weight: 300;
    white-space: nowrap;

    border: 1px solid rgba(181, 181, 181, 0.619);
    border-radius: 30px;
}

.sub-menu-buttons > .active {
    color: rgb(67, 67, 67);
    -webkit-box-shadow:0px 0px 8px 0px rgb(0, 154, 162);
    -moz-box-shadow: 0px 0px 8px 0px rgb(0, 154, 162);
    box-shadow: 0px 0px 8px 0px rgb(0, 154, 162);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 154, 162, 0.4);
    font-weight: 400;
}

.container-header {
    text-align: center;
    margin: 8px auto;
}

.container-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.card {
    width: 45%;
    margin: 2%;

    border: none;
    border-radius: var(--card-border-radius);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.card-body {
    padding: 0;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 6px;
}

.flavor-color {
    height: 80px;
    width: auto;

    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
}

#red { background-color: var(--red); }
#yellow { background-color: var(--yellow); }
#green { background-color: var(--green); }
#blue { background-color: var(--blue); }
#purple { background-color: var(--purple); }
#white { background-color: var(--white); }
#pink { background-color: var(--pink); }
#dark_pink { background-color: var(--dark_pink); }
#orange { background-color: var(--orange); }
#light_blue { background-color: var(--light_blue); }
#peach { background-color: var(--peach); }
#brown { background-color: var(--brown); }
#grey { background-color: var(--grey); }

.modal-title {
    font-size: 1.4rem;
}

.modal-img {
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.modal-description {
    font-size: 1.1rem;
    font-weight: 300;
    padding-top: 20px;
}

.modal-footer {
    font-size: 1.1rem;
    justify-content: flex-start;
}
