body {
    background-color: rgb(47, 47, 47);
    font-family: 'Josefin Sans';
}

.main-container {
    display: grid;

    grid-template-rows: 5rem 15rem 5rem 45rem 40rem 8rem;
    grid-template-columns: 100%;
}

/**************************** NAV-BAR ****************************/
.nav-bar-container {
    height: 100%;
    position: sticky;
    top: 0;

    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s;

    grid-row: 1;
    grid-column: 1;
    z-index: 50;
}

.nav-bar {
    height: 100%;
    max-width: 1200px;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-scrolled {
    background-color: black;
    height: 75%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.nav-logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-logo-img {
    height: 80%;
    margin: auto;
    border-radius: 50%;
}

.nav-link-container {
    height: 100%;
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;

    color: white;
    font-size: 1.1rem;
    font-weight: lighter;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

.active-page {
    border-bottom: 1px solid white;
    font-weight: bold;
}

@media screen and (min-width: 650px) {
    .fa-bars {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .nav-link-container {
        display: none;
    }
}

/**************************** BG-1 ****************************/
.bg-1 {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(assets/images/interior.jpeg);
    background-size: cover;
    background-position: top right;

    grid-row: 1 / span 2;
    grid-column: 1;
}

@media screen and (min-width: 925px) {
    .bg-1 {
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/interior.jpeg);
        background-attachment: fixed;
    }
}

/**************************** TITLE ****************************/

.title-container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: max-content auto;

    grid-row: 2;
    grid-column: 1;

    margin: 40px 0 0 0;
    color: white;

    z-index: 40;
}

.title-img {
    display: none;
    grid-row: 1 / span 3;
}

.title-img > img {
    height: 350px;
}

.title-text {
    grid-area: 1 / 2 / 2 / 3;
    margin: 0;
    text-align: center;
}

.title-text > h1 {
    margin: 0;
    font-weight: 700;
    text-shadow: rgb(225, 180, 0) 1px 0 10px;
}

#polar {
    display: block;
    font-size: 3.2rem;
    letter-spacing: 9px;
}

#playground {
    letter-spacing: 2px;
}

.title-text > p {
    margin: 0;

    font-size: 1rem;
    font-weight: 200;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.title-button {
    grid-area: 2 / 2 / 3 / 3;

    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center;
}

/* For Font Awesome icon */
.fa-horse, .fa-circle {
    margin-right: 10px;
}

.title-button > a {
    width: 11rem;
    height: 2.5rem;
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;

    color: white;
    font-size: 0.75rem;
    font-weight: 400;
    text-decoration: none;

    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title-button > .menu-button {
    background-image: linear-gradient(144deg,#2600ff, #2679ff 50%,#00b4eb);
}

.menu-button:hover {
    box-shadow: rgba(21, 140, 200, 0.4) 5px 5px, rgba(21, 140, 200, 0.3) 10px 10px, rgba(21, 140, 200, 0.2) 15px 15px;
    font-size: 0.8rem;
}

.title-button > .wait-button {
    color: black;
    background-color: white;
}

.wait-button:hover {
    box-shadow: rgba(255, 255, 255, 0.2) 5px 5px, rgba(255, 255, 255, 0.1) 10px 10px, rgba(255, 255, 255, 0.05) 15px 15px;
    font-size: 0.8rem;
}

.title-footer {
    grid-area: 3 / 2 / 4 / 3;
    margin-top: 30px;

    display: flex;
    justify-content: center;

    font-size: 0.7rem;
    font-weight: 200;
}

.title-footer > * {
    flex-basis: 150px;
    text-align: center;
}

.title-footer-number {
    display: block;

    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

/**************************** DIVIDER ****************************/
.divider {
    grid-row: 3;
    grid-column: 1;
}

/**************************** SHOWCASE ****************************/
.showcase-container {
    grid-row: 4;
    grid-column: 1;

    /* max-width: 1200px; */
    color: white;
}

.showcase-text {
    margin: 5%;
    padding: 30px;

    /* background-color: rgba(69, 69, 69, 0.8); */
    background-color: rgba(86, 86, 86, 0.5);
    backdrop-filter: blur(5px);
    
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.showcase-text > img {
    width: 100%;
    height: 30px;
}

.showcase-text > h2 {    
    font-size: 1.4rem;
    font-weight: bolder;
}

.showcase-text > p {
    line-height: 30px;
    font-size: 1.1rem;
    font-weight: 300;
}

.faq-button {
    width: 35%;
    height: 50px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    color: black;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 30px;
    border: 1px solid black;
    transition: all 0.1s;
}

.faq-button:hover {
    background-color: rgb(212, 212, 212);
    font-size: 1.02rem;
}

.carousel-item > img {
    height: 80vw;
    margin: auto;
    border-radius: 10px;
}

.carousel-caption > h4 {
    display: inline;
    background-color: rgba(86, 86, 86, 0.3);
    backdrop-filter: blur(5px);    
    padding: 15px;
    border-radius: 10px;
}

/**************************** ICECREAM ****************************/
a {
    text-decoration: none !important;
}

.icecream-container {
    grid-row: 5;
    grid-column: 1;

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(assets/images/icecream-bg.jpeg);
    background-size: contain;
}

.icecream-text {
    margin: 3% 0;
    color: white;
    text-align: center;
    text-shadow: 3px 5px 2px #474747;
}

.icecream-text > h2 {
    font-size: 1.6rem;
    font-weight: bolder;
}

.icecream-text > p {
    font-size: 1.4rem;
    font-weight: lighter;
}

.icecream-card-container {
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.icecream-card {
    height: 100%;
    width: 43%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    overflow: hidden;

    background-color: rgba(255, 255, 255, 1);
    color: black;
    backdrop-filter: blur(3px);

    /* background-image: linear-gradient(rgba(255, 89, 0, 0.05), rgba(255, 89, 0, 0.1)); */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;

    transition: all 0.2s;
}

.icecream-card:hover {
    transform: scale(1.02);
    background-color: white;
    /* margin-bottom: 20px; */
    /* background-image: linear-gradient(rgba(255, 89, 0, 0.01), rgba(255, 89, 0, 0.2)); */
    /* -webkit-box-shadow:0px 0px 26px 6px rgba(46,130,255,0.54);
    -moz-box-shadow: 0px 0px 26px 6px rgba(46,130,255,0.54);
    box-shadow: 0px 0px 26px 6px rgba(46,130,255,0.54); */
}

.icecream-card > h3 {
    margin: 25px 25px 0 25px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.icecream-card > p {
    margin: 0 25px;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 120%;
}

.icecream-card > img {
    width: 90%;
    margin: auto;
}

.fullmenu-card {
    justify-content: flex-start;
    align-items: center;
}

.fullmenu-card > p {
    text-align: center;
}

.fullmenu-card > .right-arrow {
    width: 40px;
    height: 40px;
}

.fullmenu-card > .stock-scoops {
    width: 100%;
}